<app-navbar></app-navbar>

<!-- about -->
<div class="section-parallax">
    <div class="section-parallax-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <hr class="section_header-divider">
                    <h1 class="col-heading">Welcome to TourOxy</h1>
                </div>
                <div class="col-md-12">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div class="bg-light p-3 mb-3">
                                <h1 class="col-heading mt-3 text-black">100% price transparency</h1>
                                <p class="section-description">We find and compare billions of real time prices on flights, hotels and cars so you get the best deals – and we don’t add any fees</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-light p-3 mb-3">
                                <h1 class="col-heading mt-3 text-black">You are anonymous</h1>
                                <p class="section-description">The prices you see are never affected by your searches, no matter how many you make, and we don’t sell your data to any third parties</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="bg-light p-3 mb-3">
                                <h1 class="col-heading mt-3 text-black">Free and independent</h1>
                                <p class="section-description">We don’t sell anything – that’s why we’re completely free to use (and we’re endorsed by Frommer’s, CNN, and the New York Times)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-black">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="col-heading">A little bit more about TOUROXY.</h1>
                <p class="section-description"><b class="font-25 text-yellow">TOUROXY</b> is India’s biggest online platform for activities and things to do. We have 8000+ activities listed from 3500+ operators across 200+ cities in India and 15+ countries in Asia. With 2000+ customer reviews on the platform, we bring in transparency and credibility for our users. Our product teams hand curate operators and activity providers to ensure that each of our customer gets a delightful experience.</p>

                <p class="section-description">We search across airlines, travel sites and low cost carriers, find the best flight tickets, and direct you for free to the companies that sell them. With one click you can see which ticket is the cheapest, quickest or best deal. All you have to do is choose and you are ready to travel the world.</p>
            </div>
        </div>
    </div>
</div>
<!-- about -->

<app-footer></app-footer>