<div class="section-black pt-4">
    <div class="col-md-12 text-center mb-5">
        <div class="col-md-12 text-center mb-5">
            <hr class="section_header-divider">
            <h1 class="col-heading">A little bit more about TOUROXY.</h1>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h1 class="col-heading">100% price transparency</h1>
                <p class="section-description">We find and compare billions of real time prices on flights, hotels and cars so you get the best deals – and we don’t add any fees</p>
            </div>
            <div class="col-md-4">
                <h1 class="col-heading">You are anonymous</h1>
                <p class="section-description">The prices you see are never affected by your searches, no matter how many you make, and we don’t sell your data to any third parties</p>
            </div>
            <div class="col-md-4">
                <h1 class="col-heading">Free and independent</h1>
                <p class="section-description">We don’t sell anything – that’s why we’re completely free to use (and we’re endorsed by Frommer’s, CNN, and the New York Times)</p>
            </div>
        </div>
    </div>
</div>