<div class="container">
    <div class="row">
        <div class="col-md-4 card text-white bg-primary mb-4 ml-5" style="max-width: 18rem;">
            <div class="card-header">Total User</div>
            <div class="card-body">
                <h2 class="card-title">{{ total_user }}</h2>
                <p class="card-text">Total ueer register in tourstation.com.</p>
            </div>
        </div>
        <div class="col-md-4 card text-white bg-secondary mb-4 ml-5" style="max-width: 18rem;">
        <div class="card-header">Total tour</div>
        <div class="card-body">
            <h2 class="card-title">{{ total_tour }}</h2>
            <p class="card-text">Total tours added in tourstation.com.</p>
        </div>
        </div>
        <div class="col-md-4 card text-white bg-success mb-4 ml-5" style="max-width: 18rem;">
        <div class="card-header">Total Enquery</div>
        <div class="card-body">
            <h5 class="card-title">{{ total_enquery }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        <div class="col-md-4 card text-white bg-danger mb-4 ml-5" style="max-width: 18rem;">
        <div class="card-header">Total Message</div>
        <div class="card-body">
            <h5 class="card-title">{{ total_message }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        <div class="col-md-4 card text-white bg-warning mb-4 ml-5" style="max-width: 18rem;">
        <div class="card-header">Save Booking</div>
        <div class="card-body">
            <h5 class="card-title">{{ total_save_booking }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        <div class="col-md-4 card text-white bg-info mb-4 ml-5" style="max-width: 18rem;">
        <div class="card-header">Confirm Booking</div>
        <div class="card-body">
            <h5 class="card-title">{{ total_confirm_booking }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
    </div>
</div>